<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/new" class="new-link">New Message</a>
    <main>
      <h1><%= title %></h1>
      <section id="messages">
        <% messages.forEach(msg => { %>
        <div class="message">
          <p class="msg-text"><%= msg.text %></p>
          <p><%= msg.added.toUTCString() %></p>
          <p class="msg-user">- <%= msg.user %></p>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
